################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.vsidx
/Web_Small_Function_For_Core7/.vs/Web_Small_Function_For_Core7/v17/.suo
/bin
/obj

