################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.vsidx
/Web_Small_Function_For_Core7/.vs/Web_Small_Function_For_Core7/v17/.suo
/Web_Small_Function_For_Core7/bin/Debug/net7.0/Web_Small_Function_For_Core7.dll
/Web_Small_Function_For_Core7/bin/Debug/net7.0/Web_Small_Function_For_Core7.pdb
/Web_Small_Function_For_Core7/obj/Debug/net7.0/Web_Small_Function_For_Core7.dll
/Web_Small_Function_For_Core7/obj/Debug/net7.0/Web_Small_Function_For_Core7.pdb
/Web_Small_Function_For_Core7/obj/Debug/net7.0
/Web_Small_Function_For_Core7/obj/Debug/net7.0/Web_Small_Function_For_Core7.GeneratedMSBuildEditorConfig.editorconfig
/Web_Small_Function_For_Core7/obj/Debug/net7.0/Web_Small_Function_For_Core7.csproj.CoreCompileInputs.cache
/Web_Small_Function_For_Core7/obj/Debug/net7.0/refint/Web_Small_Function_For_Core7.dll
/Web_Small_Function_For_Core7/obj/Debug/net7.0/ref/Web_Small_Function_For_Core7.dll
/Web_Small_Function_For_Core7/.vs/Web_Small_Function_For_Core7/DesignTimeBuild/.dtbcache.v2
